.card {
    margin: 2rem 0;

    @media screen and (min-width: 1060px) {
        margin-top: 3.5rem;
    }
}

.content.content.content {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-top: 0;
        margin-bottom: 0.75rem;
    }
}

.media.media.media.media {
    flex-wrap: nowrap;
    margin-bottom: 0.75rem;
}

.mediaContent.mediaContent {
    overflow-x: inherit;
}

.image.image.image.image {
    width: 48px;

    & img {
        height: auto;
        width: 48px;
        border-radius: 4px;
    }

    @media screen and (min-width: 1060px) {
        position: relative;
        width: 72px;

        & img {
            position: absolute;
            left: 2.75rem;
            top: -3.5rem;
            width: 72px;
        }
    }
}