.container {
    margin-bottom: 3rem;

    & ol li {
    }
}

.field.field {
    &:global(.is-grouped-multiline.is-grouped-multiline) {
        gap: 0.5rem;

        :global(.control.control) {
            margin-bottom: 0;
            margin-right: 0;
        }
    }
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 0.85rem;
    @media screen and (min-width: 769px) {
        font-size: 0.9rem;
    }
    @media screen and (min-width: 1024px) {
        font-size: 1rem;
    }
}

.code.code {
    min-height: 30em;
    max-height: min(40em, 90vh);

    :global(.line-highlight) {
        background: linear-gradient(to right, rgba(0%, 0%, 0%, 0.2) 70%, rgba(0, 0, 0, 0.3));
    }

    :global(.tag) {
        align-items: inherit;
        background-color: transparent;
        border-radius: 0;
        display: unset;
        font-family: inherit;
        font-size: inherit;
        height: auto;
        line-height: inherit;
        padding: 0;
        text-align: inherit;
    }
}