.container {
    margin-bottom: 3rem;

    & ol li {
    }
}

.field.field {
    &:global(.is-grouped-multiline.is-grouped-multiline) {
        gap: 0.5rem;
        :global(.control.control) {
            margin-bottom: 0;
            margin-right: 0;
        }
    }
}

.code.code {
    :global(.tag) {
        align-items: inherit;
        background-color: transparent;
        border-radius: 0;
        display: unset;
        font-family: inherit;
        font-size: inherit;
        height: auto;
        line-height: inherit;
        padding: 0;
        text-align: inherit;
    }
}