.card {
    margin: 3rem 0 2rem 0;
}

.media {
    margin-bottom: 0.75rem;
}

.img.img {
    position: absolute;
    left: -3rem;
    bottom: 0;
    width: 96px;
    max-width: inherit;
    border-radius: 4px;
}