.card {
    margin: 3rem 0 2rem 0;
}

.media {
    margin-bottom: 0.75rem;
}

.mediaContent.mediaContent {
    overflow-x: inherit;
}

.image.image {
    width: 48px;

    & img {
        width: 48px;
        border-radius: 4px;
    }

    @media screen and (min-width: 1060px) {
        position: relative;
        width: 72px;

        & img {
            position: absolute;
            left: 2.75rem;
            bottom: -1.5rem;
            width: 72px;
        }
    }
}