.card.card {
    display: flex;
    flex-direction: column;
    height: 100%;

    :global(.card-content) {
        flex-grow: 1;

        :global(h1),
        :global(h2),
        :global(h3),
        :global(h4),
        :global(h5),
        :global(h6) {
            margin-top: 0;
        }
    }

    :global(.media.media) {
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    :global(.media-left.media-left) {
        margin-right: 0;
    }

    :global(.media-content) {
        overflow-y: hidden;
    }

    :global(.card-footer-item.button) {
        border-radius: 0 0 4px 4px;
    }
}