.card.card {
    display: flex;
    flex-direction: column;
    height: 100%;

    :global(.card-content) {
        padding: 0.75rem;

        @media screen and (min-width: 500px) {
            padding: 1.5rem;
        }
    }

    :global(.media.media) {
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    :global(.media-left.media-left) {
        margin-right: 0;
    }

    :global(.media-content) {
        overflow-y: hidden;
    }

    :global(.image.image) {
        height: 48px;

        & img {
            height: 100%;
            max-width: none;
            width: auto;
        }
    }

    :global(.card-footer-item.button) {
        border-radius: 0 0 4px 4px;
    }
}