.item.item:is(a):hover {
    color: inherit;
}

.groupLabel {
    border-top: solid 2px;
    font-weight: bold;
}

.homeLink {
    align-items: center;
    display: flex;
    gap: 0.25rem;
}

@media screen and (min-width: 1024px) {
    .item.groupLabel {
        margin-inline-start: 1rem;
        border-top: 0;
        border-left: solid 2px;
    }
}

.local.local.local {
    background-color: #fffaeb;
    border-color: #ffe08a;

    &:is(a):hover {
        background-color: #fdf1cb;
    }

    @media screen and (min-width: 1024px) {
        &:is(a:global(.is-active)):not(:hover) {
            background-color: #fdf1cb;
        }
    }
}

.solid.solid.solid {
    background-color: #e7dbff;
    border-color: #7C4DFF;

    &:is(a):hover {
        background-color: #cfbbff;
    }

    @media screen and (min-width: 1024px) {
        &:is(a:global(.is-active)):not(:hover) {
            background-color: #cfbbff;
        }
    }
}
