.demoList {
    margin-bottom: 3rem;
}

.columns {
    flex-wrap: wrap;
    justify-content: stretch;
}

.column {
    @media screen and (min-width: 769px) {
        min-width: 33.33%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardContent {
    flex-grow: 1;
}

.media.media {
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.mediaLeft.mediaLeft {
    margin-right: 0;
}

.image.image {
    height: 48px;

    & img {
        height: 100%;
        max-width: none;
        width: auto;
    }
}

.link.link.link {
    border-radius: 0 0 4px 4px;
}