.media.media {
    align-items: center;
    & svg {
        height: auto;
        width: 100%;
    }
}

.columns {
    flex-wrap: wrap;
    justify-content: stretch;
    @media screen and (min-width: 550px) {
        display: flex;
    }
}

.column {
    @media screen and (min-width: 450px) {
        min-width: 50%;
    }
    @media screen and (min-width: 1000px) {
        min-width: 33.33%;
    }
}