.media.media {
    align-items: center;
    & svg {
        height: auto;
        width: 100%;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.column {
    @media screen and (min-width: 450px) {
        min-width: 50%;
    }
    @media screen and (min-width: 769px) {
        min-width: 33.33%;
    }
}