.libraries {
    margin-bottom: 3rem;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.column {
    min-width: 100%;
    @media screen and (min-width: 700px) {
        min-width: 50%;
    }
    @media screen and (min-width: 1200px) {
        min-width: 33%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardContent.cardContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media screen and (min-width: 570px) {
        justify-content: center;
    }
}

.media.media {
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.mediaLeft.mediaLeft {
    margin-right: 0;
}

.table {
    font-size: 0.9rem;
}

.image.image {
    height: 48px;

    & img {
        height: 100%;
        max-width: none;
        width: auto;
    }
}

.link.link.link {
    border-radius: 0 0 4px 4px;
}