.libraryList {
    margin-bottom: 2.5rem;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.column {
    min-width: 100%;
    @media screen and (min-width: 700px) {
        min-width: 50%;
    }
    @media screen and (min-width: 1200px) {
        min-width: 33%;
    }
}

.image.image.image.image.image {
    height: auto;
    & img {
        height: auto;
        max-height: 8em;
        max-width: 100%;
        padding: 1.5em 1.5em 0;
    }
}

.cardContent.cardContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media screen and (min-width: 570px) {
        justify-content: center;
    }
}